<div id="auth-root" style="text-align:center">
  <img width="200" [src]="piwydSrc">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <form id="signup-form" (ngSubmit)="onSubmit()" #signupForm="ngForm">
                  <fieldset>
                    <legend>Sign up</legend>
                    <div class="form-group">
                      <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" required [(ngModel)]="email" email>
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required [(ngModel)]="password">
                    </div>
                    <div class="form-group">
                      <input type="password" name="passwordBis" id="passwordBis" tabindex="3" class="form-control" placeholder="Confirm password" required [(ngModel)]="passwordBis">
                    </div>
                    <div class="form-group">
                      <ack-webcam [(ref)]="webcam" [options]="options" (onSuccess)="onCamSuccess($event)" (onError)="onCamError($event)"></ack-webcam>
                    </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-primary" (click)="takePicture()">Take a picture</button>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                          <button type="submit" name="signup-submit" id="signup-submit" tabindex="4" class="btn btn-primary" [disabled]="!signupForm.form.valid">Sign up</button>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
