<div class="container" style="height: 100%;">
  <div class="row" style="height: 100%;">
    <div class="col-md-3" style="background-color: #d6e5ff; height: 100%;">
      <div class="row">
        <div class="col-md-12">
          <h1>PiWyd</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-secondary">Upload <img src="assets/svg/si-glyph-file-upload.svg" width="16"/></button>
        </div>
      </div>
    </div>
    <div class="col-md-9" style="height: 100%; overflow-y: auto;">
      <table class="table table-striped table-hover table-files" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#" target="_blank">File 1</a></td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary" (click)="download()">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 1</td>
            <td>Word document</td>
            <td>122 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
          <tr>
            <td>File 2</td>
            <td>PDF document</td>
            <td>438 Kb</td>
            <td>
              <button class="btn btn-secondary">
                <img src="assets/svg/si-glyph-file-download.svg" width="16"/>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
